/activitatFitxerSemaforsEdgar/build/
/activitatProductorConsumidorEdgar/nbproject/private/
/activitatProductorConsumidorEdgar/build/
/activitatSumaValorsEdgar/nbproject/private/
/activitatSumaValorsEdgar/build/
/activitatPerruqueriaEdgar/nbproject/private/
/activitatPerruqueriaEdgar/build/
/activitatPerruqueriaEdgarGarcia/nbproject/private/
/activitatPerruqueriaEdgarGarcia/build/
/activitatFilosofsEdgarGarcia/nbproject/private/
/activitatFilosofsEdgarGarcia/build/
/practicaFilosofsEdgar/nbproject/private/
/practicaFilosofsEdgar/build/
/activitatGestioFilsEdgar/nbproject/private/
/activitatGestioFilsEdgar/build/