/activitatFitxerSemaforsEdgar/build/
/activitatProductorConsumidorEdgar/nbproject/private/
/activitatProductorConsumidorEdgar/build/
/activitatSumaValorsEdgar/nbproject/private/
/activitatSumaValorsEdgar/build/